<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>HR application</title>
</head>
<body>
		<h1>Welcome to the HR application!</h1>
<table>
	<tr>
		<th>ID</th>
		<th>NAME</th>
		<th>STATUS</th>
		<th>SALARY</th>
		<th>STARTING TO WORK</th>
		<th>DELETE</th>
	</tr>
		<tr	th:each="employee : ${employees}">
		<td th:text="${employee.id}">ID</td>
<!-- 		<td><a th:href="${'modifyemployee/' + employee.id}" th:text="${employee.name}">NAME</a></td> -->
		<td><a th:href="@{/employees/{id}(id = ${employee.id})}" th:text="${employee.name}">NAME</a></td>
		<td th:text="${employee.status}">STATUS</td>
		<td th:text="${employee.salary}">SALARY</td>
		<td th:text="${employee.startingToWork}">STARTING_TO_WORK</td>
<!-- 		<td><a th:href="${'deleteemployee/' + employee.id}" th:text="${'Delete'}">DELETE</a></td> -->
		<td><a th:href="@{/deleteemployee/{id}(id=${employee.id})}">Delete</a></td>
	</tr>
</table>


<!-- <form th:action="saveCustomer.html" th:action="@{/saveCustomer}"th:object="${customer}"method="post"> -->
<!-- <input type="hidden" th:field="*{id}"/> -->
<!-- <labelfor="firstName">Firstname:</label> -->
<!-- <input type="text" th:field="*{firstName}"value="John" /> -->
<!-- <labelfor="lastName">Lastname:</label> -->
<!-- <input type="text" th:field="*{lastName}"value="Wayne" /> -->
<!-- <labelfor="balance">Balance(dollars):</label> -->
<!-- <input type="text" th:field="*{balance}"size="10" value="2500" /> -->
<!-- <input type="submit" /> -->
<!-- </form> -->


<br>
<br>
<form th:action="@{/employees}" method="post" th:object="${newEmployee}">
		Id: <input th:field="*{id}" /> <br/>
		Name: <input th:field="*{name}" /> <br/>
		Status: <input th:field="*{status}" /> <br/>
		Salary: <input th:field="*{salary}" /> <br/>
		Starting to work: <input th:field="*{startingToWork}" /> <br/>
		<input type="submit" value="Add" /> 
</form>

</body>
</html>


