<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>HR application</title>
</head>
<body>
	<h1>Modify employee data</h1>
		
	<form th:action="@{/modifyemployee}" method="post" th:object="${modifiedemployee}">
		Id: <span th:text="${employee.id}" ></span>
		<input type="hidden" th:field="${employee.id}" /><br>
		Name: <input th:field="${employee.name}" /><br>
		Status: <input th:field="${employee.status}" /><br>
		Salary: <input th:field="${employee.salary}" /><br>
		Starting to work: <input th:field="${employee.startingToWork}" /><br>
		<input type="submit" value="Modify" />
	</form>
</body>
</html>